apply plugin: 'java'

// The Eclipse plugin is only required if you want to use Eclipse
apply plugin: 'eclipse'

// The Maven plugin is only required if your package is used as a library.
apply plugin: 'maven'

// The Application plugin and mainClassName attribute are only required if
// your package is used as a binary.
apply plugin: 'application'
mainClassName = 'org.ros.RosRun'

task deployApp(dependsOn: 'installApp') << {
  File binDir = new File(project.projectDir, '/bin')
  if (! binDir.isDirectory()) {
    println "Creating $binDir directory"
    binDir.mkdirs()
  }
  File link = new File(binDir,"execute")
  File target = new File(project.projectDir, "build/install/$project.name/bin/$project.name")
  println "Creating symlink from $link.absolutePath to $target.absolutePath"
  ant.symlink(link: link.absolutePath, resource: target.absolutePath)
}

sourceCompatibility = 1.6
targetCompatibility = 1.6

repositories {
  mavenLocal()
  maven {
    url 'http://robotbrains.hideho.org/nexus/content/groups/ros-public'
  }
}

version = '0.1-SNAPSHOT'
group = 'palgate.trial'

dependencies {
  compile 'ros.rosjava_core:rosjava:0.0.0-SNAPSHOT'
  // include local dependencies (because not available on Maven or other)
  compile fileTree(dir: 'libs', include: '*.jar')
  runtime fileTree(dir: 'libs', include: '*.jar')
}